coinone:
  enabled: true
  interval: 10s

korbit:
  enabled: true
  interval: 10s
  client_id: << korbit client id >> 
  client_secret: << korbit client secret >> 
  username: << korbit email >> 
  password: << korbit password >> 
  currencies:
   - btc_krw
   - etc_krw
   - eth_krw
   - xrp_krw
   - bch_krw
