influxdb:
  writer: http://influxdb:8086
  reader: http://influxdb:8086
  db: rightdog

coinone:
  enabled: true
  interval: 10s

korbit:
  enabled: true
  interval: 10s
  client_id: << korbit client id >> 
  client_secret: << korbit client secret >> 
  username: << korbit email >> 
  password: << korbit password >> 
  currencies:
   btc: btc_krw
   etc: etc_krw
   eth: eth_krw
   xrp: xrp_krw
   bch: bch_krw

upbit:
  enabled: true
  interval: 10s
  currencies:
   btc: KRW-BTC
   etc: KRW-ETC
   eth: KRW-ETH
   xrp: KRW-XRP
   qtum: KRW-QTUM
   btg: KRW-BTG
