writer:
  addr: http://writer:24800

upbit:
  enabled: true
  interval: 10s
  currencies:
   btc: KRW-BTC
   etc: KRW-ETC
   eth: KRW-ETH
   xrp: KRW-XRP
   qtum: KRW-QTUM
   btg: KRW-BTG
   snt: KRW-SNT
   ada: KRW-ADA
   emc2: KRW-EMC2
   powr: KRW-POWR
   bcc: KRW-BCC
